<%- include('../partials/header') %>

    <div class="row">
        <h1 style="text-align: center">Edit <%= condo.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/condos/<%= condo._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
					<label for="name">Condo name</label>
                    <input class="form-control" type="text" name="condo[name]" id="name" value="<%= condo.name %>">
                </div>
                <div class="form-group">
					<label for="developer">Condo developer</label>
                    <input class="form-control" type="text" name="condo[developer]" id="developer" value="<%= condo.developer %>">
                </div>
				 <div class="form-group">
					 <label for="location"Street Address</label>
                    <input class="form-control" type="text" name="condo[location]" id="location" value="<%= condo.location %>">
                </div>
				 <div class="form-group">
					 <label for="postalCode">Postal Code</label>
                    <input class="form-control" type="text" name="condo[postalCode]" id="postalCode" value="<%= condo.postalCode %>">
                </div>
				
                <div class="form-group">
					<label for="rent">Approximate rent per month</label>
                    <input class="form-control" type="number" name="condo[rent]" id="rent" value="<%= condo.rent %>">
                </div>
				
				<div class="form-group">
					<label class="control-label">Condo ameneties:</label>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="pool">Pool</label>					
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="gym">Gym</label>					
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="retail">Retail</label>					
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="concierge">Concierge</label>					
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="bike-locker">Bike locker</label>					
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="rooftop">Rooftop terrace</label>					
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="condo[amenities]" value="none">None of the above</label>					
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label">Pet friendly:</label>
					<div class="radio">
						<label><input type="radio" name="condo[petFriendly]" value=true>Yes</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="condo[petFriendly]" value=false>No</label>
					</div>
				</div>
				<div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" >
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
				
				
            </form>
            <a href="/condo">Go Back</a>
        </div>
    </div>

<%- include('../partials/footer') %>