<%- include('../partials/header') %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome Rate My Condo!</h1>           
             <div class="text-center">
                <a class="btn btn-primary btn-large" href="/condos/new">Add New Condo</a>
             </div>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% condos.forEach(function(condo){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= condo.image %>">
                   <div class="caption">
                       <h4><%= condo.name %></h4>
					   <% if(condo.rating == 0) { %>
					   		<em>No reviews yet</em>
					   <% } else { %>
					   			<span class="fa fa-star checked"></span>
					   			<span class="fa fa-star <%if(condo.rating > 1.5) {%>checked <%} %>" ></span>
					   			<span class="fa fa-star <%if(condo.rating > 2.5) {%>checked <%} %>" ></span>
					   			<span class="fa fa-star <%if(condo.rating > 3.5) {%>checked <%} %>" ></span>
					   			<span class="fa fa-star <%if(condo.rating > 4.5) {%>checked <%} %>" ></span>
					   <% } %>
                   </div>
                   <p>
                       <a href="/condos/<%= condo._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') %>