<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Rate My Condo</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= condo.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= condo.rent %> /month(Approximate)</h4>
                    <h4><a><%=condo.name%></a></h4>
					<p><%=condo.address %></p>
					<p><%=condo.postalCode %></p>
					<p>Developer: <%=condo.developer %></p>
					<a class="btn btn-xs btn-warning" href="/condos/<%=condo._id%>/edit">Edit</a>
					<form id="delete-form" action="/condos/<%=condo._id%>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/condos/<%= condo._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% condo.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <%= comment.text %> 
                            </p>
							<a class="btn btn-xs btn-warning" href= "/condos/<%=condo._id%>/comments/<%=comment._id%>/edit"> Edit</a>
							<form id="delete-form" action="/condos/<%=condo._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>